<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SalesSystemDB"
			 connectionString="Data Source=LAPTOP-LDJTFL5S\SQLEXPRESS;Initial Catalog=SalesSystem;Integrated Security=True;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
